<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byType">
    <bean id="duke"
          class="com.springinaction.springidol.Juggler">
        <constructor-arg value="15"/>
    </bean>
    <bean id="sonnet29"
          class="com.springinaction.springidol.Sonnet29"/>
    <bean id="someSonnet"
          class="com.springinaction.springidol.SomeSonnet" autowire-candidate="false"/>

    <bean id="poeticDuke"
          class="com.springinaction.springidol.PoeticJuggler">
        <constructor-arg value="15"/>
        <!--<property name="poem" ref="sonnet29" />-->
    </bean>

    <bean id="theStage"
          class="com.springinaction.springidol.Stage"
          factory-method="getInstance" scope="prototype"/>
    <bean id="magician" class="com.springinaction.springidol.Magician"/>
    <bean id="thinker" class="com.springinaction.springidol.Volunteer"/>
    <bean id="contestantDelegate"
          class="com.springinaction.springidol.GraciousContestant"/>
    <bean id="audience"
          class="com.springinaction.springidol.Audience"/>

    <aop:config>
        <aop:aspect>
            <aop:declare-parents
                    types-matching="com.springinaction.springidol.Performer+"
                    implement-interface="com.springinaction.springidol.Contestant"
                    delegate-ref="contestantDelegate"
            />
        </aop:aspect>
        <aop:aspect ref="audience">
            <aop:before pointcut=
                                "execution(* com.springinaction.springidol.Performer.perform(..))"
                        method="takeSeats"/>
            <aop:before pointcut=
                                "execution(* com.springinaction.springidol.Performer.perform(..))"
                        method="turnOffCellPhones"/>
            <aop:after-returning pointcut=
                                         "execution(* com.springinaction.springidol.Performer.perform(..))"
                                 method="applaud"/>
            <aop:after-throwing pointcut=
                                        "execution(* com.springinaction.springidol.Performer.perform(..))"
                                method="demandRefund"/>
        </aop:aspect>
        <aop:aspect ref="magician">
            <aop:pointcut id="thinking"
                          expression="execution(*
        com.springinaction.springidol.Thinker.thinkOfSomething(String))
        and args(thoughts)"/>
            <aop:before
                    pointcut-ref="thinking"
                    method="interceptThoughts"
                    arg-names="thoughts"/>
        </aop:aspect>
    </aop:config>
</beans>